<div class="container">
    <div class="row">
      <div class="col-3">
        <div class="mt-5 mb-5 bg-secondary text-center"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</div>
      </div>
      <div class="col-7"></div>
    </div>

    <div class="row">
      <div class="col-2">
        <div class="mt-1">氏名</div>
        <div class="mt-4 pb-1">フリガナ</div>
        <div class="mt-4">郵便番号</div>
        <div class="mt-4">住所</div>
        <div class="mt-4 pb-1">電話番号</div>
        <div class="mt-4">メールアドレス</div>
      </div>
      <div class="col-8">
        <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
        <div><%= f.text_field :last_name %>　<%= f.text_field :first_name %></div>
        <div class="mt-3"><%= f.text_field :last_name_kana %>　<%= f.text_field :first_name_kana %></div>
        <div class="mt-4"><%= f.text_field :postal_code %></div>
        <div class="mt-3"> <%= f.text_field :address, style: "width:80%;" %></div>
        <div class="mt-3"><%= f.text_field :telephone_number %></div>
        <div class="mt-4"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
        <div class="row mt-3 mb-5">
          <div class="col-4">
            <%= f.submit "編集内容を保存", class: "btn btn-sm btn-success", style: "width:100%;" %>
          </div>
          <div class="col-3"></div>
          <div class="col-4">
            <%= link_to check_public_customer_path , class: "btn btn-sm btn-danger", style: "width:40%;" do %>
            退会する
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="row mt-5">
    </div>

</div>