<main>
  <div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
            <div class="mt-5 mb-4 bg-secondary text-center">注文履歴詳細</div>
        </div>
        <div class="col-8"></div>
    </div>

    <div class="row">
      <div class="col-2">
        <div>購入者</div>
        <div class="mt-4">注文日</div>
        <div class="mt-4">配送先</div>
        <div class="mt-5">支払方法</div>
        <div class="mt-4">商品合計</div>
        <div class="mt-4">送料</div>
        <div class="mt-4">請求金額</div>
      </div>
      <div class="col-4">
        <div>購入者</div>
        <div class="mt-4"><%= @order.created_at %></div>
        <div class="mt-4">
          〒<%= @order.customer.postal_code %> <%= @order.customer.address %></br>
          <%= @order.customer.last_name %><%= @order.customer.first_name %>
        </div>
        <div class="mt-4"><%= @order.payment_type_i18n %></div>
        <div class="mt-4"><%= @order.billing_amount %></div>
        <div class="mt-4"><%= @order.postage %></div>
        <div class="mt-4"><%= @order.billing_amount + @order.postage %></div>
      </div>
    </div>
  </div>
</main>