<main>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <div class="mt-5 mb-4 bg-secondary text-center">注文情報入力</div>
      </div>
      <div class="col-7"></div>
    </div>

    <%= form_with model: @order, url: admin_items_path, method: :post do |f| %>
    <div class="row">
      <div class="col">
        <h3><%= f.label :payment_types, '支払方法' %></h3>
        <div class="col-3 ml-5 radio-inline">
          <%= f.radio_button :payment_type, :クレジットカード %>
          <%= f.label :クレジットカード, class: "payment_type_label" %>
        </div>
        <div class="col-3 ml-5 radio-inline">
          <%= f.radio_button :payment_type, :銀行振込 %>
          <%= f.label :銀行振込, class: "payment_type_label" %>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col">
        <h3>お届け先</h3>
        <div class="col-3 ml-5 radio-inline">
          <%= f.radio_button :address_number_1, :ご自身の住所 %>
          <%= f.label :address_number_1, "ご自身の住所" %>
        </div>
        <div class="col-12 ml-5 pl-5">
          aaaaaaaaaaaa
        </div>
        <div class="col-3 ml-5 mt-2 radio-inline">
          <%= f.radio_button :address_number_2, :登録済住所から選択 %>
          <%= f.label :address_number_1, "ご自身の住所から選択" %>
        </div>
        <div class="col-3 ml-5 mt-2 radio-inline">
          <%= f.radio_button :address_number_2, :新しいお届け先 %>
          <%= f.label :address_number_1, "新しいお届け先" %>
        </div>
        <div class="col-8 mt-3 text-center">
          <%= f.submit "確認画面にすすむ", class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</main>