<main>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <div class="mt-5 mb-4 bg-secondary text-center">注文情報入力</div>
      </div>
      <div class="col-7"></div>
    </div>

    <%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
    <div class="row">
      <div class="col">
        <h3><%= f.label :payment_type, '支払方法' %></h3>
        <div class="col-3 ml-5 radio-inline">
          <%= f.radio_button :payment_type, Order.payment_types.key(0) %>
          <%= f.label :credit_card, Order.payment_types_i18n[:credit_card] %>
        </div>
        <div class="col-3 ml-5 radio-inline">
          <%= f.radio_button :payment_type, Order.payment_types.key(1) %>
          <%= f.label :transfer, Order.payment_types_i18n[:transfer] %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="mt-2">お届け先</h3>
        <div class="col-3 ml-5 radio-inline">
          <%= f.radio_button current_customer, :ご自身の住所 %>
          <%= f.label current_customer, "ご自身の住所" %>
        </div>
        <div class="col-12 ml-5 pl-5">
          〒<%= current_customer.postal_code %>　<%= current_customer.address %></br>
          <%= current_customer.last_name %><%= current_customer.first_name %>
        </div>
        <div class="col-3 ml-5 mt-2 radio-inline">
          <%= f.radio_button :new_address, :新しいお届け先 %>
          <%= f.label :new_address, "新しいお届け先" %>
        </div>
        <div class="col-6 ml-5 pl-5">
          新しいお届け先(ハイフンなし) <%= f.text_field :postal_code %>
        </div>
        <div class="col-12 ml-5 pl-5 mt-3">
          住所　　　　　　　　　<%= f.text_field :address, style: "width:40%;" %>
        </div>
         <div class="col-12 ml-5 pl-5 mt-3">
          宛名  　　　　　　　　<%= f.text_field :name %>
        </div>
        <div class="col-10 mt-3 text-center">
          <%= f.submit "確認画面へ進む", class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</main>