<main>
<div class="container">
  <div class="row">
    <div class="col-11">
      <div class=text-left>ログイン</div>

      <div class="col-10">
        <div class=text-left>会員の方はこちらからログイン</div>

        <form class="mx-auto text-center">
          <div class="form-group">
           <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <th class="row field"><%= f.label :メールアドレス %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </div>

            <div class="field">
              <%= f.label :パスワード %>
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>
        </form>
        
        <h4>会員登録がお済みでないかた</h4>
          <%= render "public/shared/links" %>から新規登録を行ってください
    </div>
  </div>
</div>
</main>