<main>
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-3 text-right">
        <h2>商品一覧</h2>
      </div>
      <div class="col-1 mt-2 text-left">
        <h5>(全<%= @items.count %>件)</h5>
      </div>
    </div>

    <div class="row">
      <% @items.each do |item| %>
      <div class="col-3">
        <% if item.image.attached? %>
        <%= image_tag item.image, size: "230x140" %>
        <% else %>
        <%= image_tag 'no_image', size: "180x130" %>
        <% end %></br>
        <%= link_to item_path(item.id) do %>
        <%= item.name %>
        <% end %></br>
        <%= item.price %>円
      </div>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</main>