<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col-1"></div>
      <div class="col-4">
        <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "300x200" %>
        <% else %>
        <%= image_tag 'no_image', size: "300x200" %>
        <% end %>
      </div>
      <div class="col-3">
        <h3><%= @item.name %></h3>
        <div class="mt-4 mb-3"><%= @item.introduction %></div>
        <h3 class="mt-5">￥<%= @item.with_tax_price %> (税込)</h3>
      </div>
    </div>

    <%= form_with model: @cart_item, url: cart_items_path do |f| %>
    <div class="row mt-5">
      <div class="col-5"></div>
      <div class="col-2">
        <% if customer_signed_in? %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.select :amount, *[1..10], {include_blank: '個数選択'} %>
        <% end %>
      </div>
      <div class="col-3">
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
      </div>
    </div>
    <% end %>

    </div>
  </div>
</main>
